<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <%- include('partials/navbar-checkout'); %>
    <%- include('partials/checkout-content'); %>
    <footer>
        <%- include('partials/footer-2'); %>
    </footer>
</body>
</html>