<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <%- include('partials/navbar'); %>
    <%- include('partials/sign-up-form'); %>
    <footer>
        <%- include('partials/footer-2'); %>
    </footer>
</body>
</html>