<!-- Nav to bring user back to home page -->
<div class="bg-gray-100 flex justify-center border-b-2">
    <div class="flex items-center justify-center flex-shrink-0 mx-auto">
        <a href="/" class="flex items-center">
          <img src="/images/jordans.svg" alt="jordan-2-icon" width="55" height="55">
          <p class="font-bold text-2xl tracking-tight italic">
          Slick<span class="text-purple">Kicks</span>
          </p>
        </a>
    </div>
</div>