<!-- Tailwind CSS Playground : https://play.tailwindcss.com/KbKtNzkOBy -->

<!-- Payment form outputted here -->
<form class="flex flex-col gap-3 w-full p-5" id="payment">
  
</form>
<script src="/javascripts/create-payment.js"></script>