<main class="m-8">
    <div class="container mx-auto px-8">
        <!-- Styles gallery -->
        <div class="grid gap-8 grid-cols-2 md:grid-cols-3 odd:h-full">
            <div>
                <img src="/images/placeholder2.jpg" alt="">
            </div>
            <div>
                <img src="/images/placeholder3.jpg" alt="">
            </div>
            <div>
                <img src="/images/placeholder4.jpg" alt="">
            </div>
            <div>
                <img src="/images/placeholder4.jpg" alt="">
            </div>
            <div>
                <img src="/images/placeholder2.jpg" alt="">
            </div>
            <div>
                <img src="/images/placeholder3.jpg" alt="">
            </div>
            <div>
                <img src="/images/placeholder3.jpg" alt="">
            </div>
            <div>
                <img src="/images/placeholder4.jpg" alt="">
            </div>
            <div>
                <img src="/images/placeholder2.jpg" alt="">
            </div>
        </div>
    </div>
</main>